@import "imports/variables.css";

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header {
    background-color: var(--header);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
h4 {
    font-family: var(--bite-font), Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-colour);
    font-size: 2.5em;
    margin: 65px 0 0 0;
}

h4 {
    font-size: 1em;
    margin: 0;
}

h2, 
a,
.error_message {
    font-family: var(--cta-font), Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-colour);
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2%;
    text-transform: uppercase;
    font-weight: bold;
}

nav li {
    display: block;
    width: 100px;
}

nav li a:hover,
.active {
    text-decoration: underline;
}

.fa-magnifying-glass {
    color: var(--text-colour);
    font-size: 1.5em;
    margin-right: 5%;
}

.logo {
    display: flex;
    flex-direction: column;
    margin: 20px 35%;
}

.logo_mobile {
    display: flex;
}

.logo_img {
    grid-column-start: 2;
    width: 120px;
    padding: 0;
}

.error_message {
    color: var(--cta-colour);
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.loading {
    height: 100px;
    width: 100px;
    border: 20px dashed var(--cta-colour);
    border-radius: 50%;
    animation: spin 1.8s ease-in infinite;
    margin: 0 300px;

}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

footer {
    background-color: var(--footer-colour);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.logo-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 5% 0 0;
    width: 150px;
}

.logo-footer img {
    width: 40px;
}

h2 {
    font-size: 1rem;
    margin: 5px;
}

h3,
label {
    font-family: var(--heading-font), Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-colour);
    font-weight: bold;
}

button {
    padding: 10px 45px;
    margin: 20px auto;
    background-color: var(--cta-colour);
    color: var(--background);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    letter-spacing: 0.1em;
    box-shadow: 0 0 20px var(--cta-colour);
}

/* Contact page */
p,
.form_error,
ul {
    font-family: var(--body-text), Georgia, 'Times New Roman', Times, serif;
    color: var(--text-colour);
}

label {
    margin: 0 0 10px 5px;
}

.form_error {
    color: var(--cta-colour);
    margin: 5px 0 0 0;
}

.contact {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px auto;
    gap: 2em;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input,
#message {
    width: 400px;
    border-radius: 2px;
    border: 1px solid var(--text-colour);
}

input {
    height: 40px;
}

#message {
    height: 130px;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* Home page */
.carousel {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    position: relative;
    width: 900px;
    overflow: hidden;
    margin: 100px auto;
}

.arrow-left,
.arrow-right {
    padding: 3px 10px;
    font-size: 1.2em;
    position: absolute;
    z-index: 1;
}

.arrow-left:hover,
.arrow-right:hover {
    box-shadow: none;
    font-size: 1.5em;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.slider {
    display: flex;
    scroll-behavior: smooth;
}

.post {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;
}

.post img {
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
}

.post h3,
.post p,
.post button {
    grid-column-start: 2;
}

.post h3,
.post p {
    margin: 0 0 0 20px;
}

.post h3 {
    font-size: 1em;
}

.post p {
    grid-row-start: 2;
    font-size: 0.8em;
}

.post button {
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.recipe__options {
    display: flex;
    width: 60%;
    margin: 50px auto;
    justify-content: space-between;
}

.cakes {
    background-color: var(--extra-colour);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    filter: drop-shadow(10px 10px 10px var(--text-colour));
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 10%;
}

.cakes img {
    width: 50px;
    padding: 0;
    display: flex;
    margin: 5px auto;
}

.cakes h3 {
   margin: 0;
}

.about {
    width: 40%;
    background-color: var(--extra-colour);
    padding: 40px;
}

.follow {
    background-color: var(--header);
    width: 30%;
    padding: 30px;
    height: 120px;
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
}

.follow h3 {
    margin: auto;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    color: var(--text-colour);
    font-size: 50px;
}

/* About page  */

.images {
    display: flex;
    margin: 50px 10%;
    height: 700px;
    gap: 2em;
    justify-content: space-evenly;
}

.bottom_img {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 800px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(1200px, 80%);
}

/* Recipes page  */
.recipes_container {
    display: grid;
    grid-template-rows: 1.5fr 0.5fr;
    justify-content: space-between;
    align-items: center;
}

.recipes_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    justify-content: space-evenly;
    margin: 100px auto;
    width: 80%;
}

.recipePost {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cta-colour);
    box-shadow: 5px 5px 5px var(--text-colour);
    border-radius: 2px;
    width: 100%;
    transition: 0.4s ease-in-out;
}

.recipePost:hover {
    box-shadow: 10px 10px 10px var(--text-colour);
    width: 101%;
}

.recipePost img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 0;
}

.recipePost h3 {
    margin: 10px;
}

/* Recipe specific page  */
.above_post {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.go-back {
    text-decoration: underline;
    font-size: 1.5em;
}

.recipe_container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 90%;
    justify-content: center;
    margin: 50px auto;
}

.recipe {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

#modal_img {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto 30px auto;
}

#modal_img:hover {
    cursor: pointer;
}

dialog {
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: var(--modal-colour);
    padding-top: 200px;
    border: none;
    margin: 0;
}

dialog #modal_img {
    width: 80%;
    position: fixed;
    left: 10%;

}

/* #modal {
    background-color: var(--modal-colour);
    height: 100%;
} */