:root {
    --background: #FFF8FB;
    --cta-colour: #9E2C4B;
    --header: #C5646A;
    --text-colour: #360101;
    --extra-colour: #F4D791;
    --footer-colour: rgba(197, 100, 106, 0.9);
    --modal-colour: rgba(54, 1, 1, 0.8);

    --heading-font: 'Quicksand';
    --body-text: 'Inconsolata';
    --cta-font: 'Josefin Sans';
    --bite-font: 'Joti One';

}