:root {
    --background: #FFF8FB;
    --cta-colour: #9E2C4B;
    --header: #BF545A;
    --text-coulour: #360101;
    --extra-colour: #F4D791;

    --heading-font: 'Quicksand';
    --body-text: 'Inconsolata';
    --cta-font: 'Josefin Sans';

}